
body {
  background-color: #fff;
  margin: 1em auto;
  overflow: visible;
  padding-left: 2em;
  padding-right: 2em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6{
  font-size: 18pt;
}

#header {
  text-align: left;
  font-size: 12px;
}

#TOC {
  clear: both;
  /*margin: 0 0 10px 10px;*/
  padding: 4px;
  width: 100%;
  border: 1px solid #CCCCCC;
  border-radius: 5px;

  background-color: #f6f6f6;
  font-size: 13px;
  line-height: 1.3;
}
  #TOC .toctitle {
    font-weight: bold;
    font-size: 15px;
    margin-left: 5px;
  }

  #TOC ul {
    padding-left: 40px;
    margin-left: -1.5em;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  #TOC ul ul {
    margin-left: -2em;
  }
  #TOC li {
    line-height: 16px;
  }


.upper-right-logo {
  margin-top: 0px;
  background-image: url("logodplus.png");
  height: 300px;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
}

p {
  margin: 1em 0;
}

blockquote {
  background-color: #f6f6f6;
  padding: 0.25em 0.75em;
}

hr {
  border-style: solid;
  border: none;
  border-top: 1px solid #777;
  margin: 28px 0;
}


pre, code {
  background-color: #EEE;
  color: #333;
}
pre {
  border: 2px solid #EEE;
  overflow: auto;
  white-space: pre-wrap;    /* Wrap long lines */
  margin: 5px 0px;
  padding: 5px 10px;
}
code {
  font-size: 85%;
}
pre:not([class]) {
  color: #353;
  /*border-radius: 0px 0px 3px 3px;*/
}
div.sourceCode pre, div.sourceCode code  {
  background-color: #FAFAFA;
}
div.sourceCode pre{
  /*border-radius: 3px 3px 0px 0px;*/
}
div.sourceCode + pre,
div.sourceCode + div.diffobj_container {
  margin-top: -14px;
}
div.diffobj_container pre{
  line-height: 1.3;
}


code {
  font-family: Consolas, Monaco, 'Courier New', monospace;
}
p > code, li > code, h1 > code, h2 > code, h3 > code,
h4 > code, h5 > code, h6 > code {
  padding: 2px 0px;
  line-height: 1;
  font-weight: bold;
}
div.figure {
  text-align: center;
}
img {
  background-color: #FFFFFF;
  padding: 2px;
  /*border: 1px solid #DDDDDD; */
  border-radius: 3px;
  border: 1px solid #FFFFFF;
  margin: 0 5px;
}

.disease{
	font-size:90%;
	border:2px;
	background-color: #deddff;
}

.gene{
	font-size:90%;
	border:2px;
	background-color: #ffcd99;
	margin-right: 2px;
}

.variant{
	font-size:90%;
	background-color: #ff5e99;
}

.drug{
	font-size:90%;
	background-color: #17a2b8;
}

.chemical{
	font-size:90%;
	background-color: #7adfee;
}

.negexp {
     background-color: #d5ff00;
     color: black;
}

span.negexp {
     background-color: #d5ff00;
     color: black;
}

code > span.kw { color: #555; font-weight: bold; } /* Keyword */
code > span.dt { color: #902000; } /* DataType */
code > span.dv { color: #40a070; } /* DecVal (decimal values) */
code > span.bn { color: #d14; } /* BaseN */
code > span.fl { color: #d14; } /* Float */
code > span.ch { color: #d14; } /* Char */
code > span.st { color: #d14; } /* String */
code > span.co { color: #888888; font-style: italic; } /* Comment */
code > span.ot { color: #007020; } /* OtherToken */
code > span.al { color: #ff0000; font-weight: bold; } /* AlertToken */
code > span.fu { color: #900; font-weight: bold; } /* Function calls */
code > span.er { color: #a61717; background-color: #e3d2d2; } /* ErrorTok */


.book .book-body .page-inner section.normal table th,
.book .book-body .page-inner section.normal table td,
.book .book-body .page-inner section.normal .table th,
.book .book-body .page-inner section.normal .table td {
    padding: 5px 5px;
    text-align: center;
}


